@import "normalize";

html {
  background: #fffcd7;
}

body {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 800px;
}

section.top-bar {
  padding: 0;
  background: #b3b38d;
  margin-bottom: 10px;
}

section.left-section {
  display: inline-block;
  width: 25%;
  float: left;
  background: #b3b38d;

  padding: 4px;
}

section.right-section {
  display: inline-block;
  float: right;
  width: 50%;
}

section.right-section .normal {
  margin: 0 0 10px 0;
  padding: 10px;
  background: #b3b38d;
}

section.right-section .error {
  margin: 0 0 10px 0;
  padding: 10px;
  background: #b3b38d;
}

section.right-section .warning {
  margin: 0 0 10px 0;
  padding: 10px;
  background: #b3b38d;
}


